h2{
    background-color: aquamarine;
    text-align: center;
    /* text-align: right;    */
    /* text-align: left; */
}

/*
 a{
    background-color: cornflowerblue;
    text-align: center;
} 
*/

a{
    background-color: cornflowerblue;
    display: block;
    text-align: center;

} 