 /* padding: 40px     applied 40px padding on top,bottom,left,right */
    /* padding-left: 55px;   */
    /* padding:40px 40px;  padding top-bottom   padding left-right */
    /* padding: 20px 20px 30px 40px;  padding top right bottom left */
    /* same goes for margin also */

/* h1{
    border: 5px solid red;
    padding: 40px ;
    margin: 30px;
} */




/*
if we want to place the whole thing at the center , we have a trick for that
 */
 h1{
    border: 5px solid red;
    width: 900px;
    margin: 20px auto;                /* set the margin of top and bottom  other thing will be handled by the browser to do the whole thing in center*/
    text-align: center;      /*to allign the text which is written inside it at the center*/
}