/* h1{
    font-size: 2rem;
    /* it means 2*16 == 32px  
}
p{
    font-size: 3rem;
    /* it means 3*16 == 48px 
} */


html{
    /* font-size: 10px; */
    font-size: 62.5%;
    /* 
    mostly the web developers uses 62.5% instead of writing 10 px to make the webpage more responsive
    16px --> 100%
    10px -->100/16*10 == 62.5%
    */
}
/* 
:root{
    font-size:10px 
}
*/


h1{
    font-size: 5rem;
    /* it means 5*10 == 50px */
}
p{
    font-size: 3rem;
    /* 30px */
}
div.box p{
    font-size: 4rem;
     /* 40px */
    border: 1rem solid black;
    /*  10px border */
   
}